* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bebas neue";
}
.background1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1000px;
  flex-direction: column;
}
.background-pic {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.head-line {
  display: flex;
  justify-content: space-around;
  gap: 500px;
  margin-top: 30px;
  height: 40px;
  width: 100%;
  font-size: 20px;
}
.tour-logo {
  height: 40px;
  width: 110px;
}
.head-line-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: white;
}
.head-line-text p {
  cursor: pointer;
}
.head-line-text img {
  cursor: pointer;
}
.head-line button {
  border: none;
  border-radius: 100px;
  background: white;
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
}
.head-line button:hover {
  background-color: #000;
  color: white;
}
.body-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  height: 500px;
  width: 700px;
  color: white;
}
.body-text h1 {
  font-size: 85px;
  color: #e8edf2b8;
}
.body-text h2 {
  font-size: 270px;
}
.body-text h3 {
  font-size: 70px;
}
.background2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 90px;
  height: 700px;
}
.location-4img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 520px;
  width: 390px;
  border-radius: 50px;
  color: white;
  font-size: 45px;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.878);
}
.location-img {
  position: absolute;
  z-index: -1;
  height: 520px;
  width: 390px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 10px 10px 0px 0px #1f72aa75, -10px -10px 0px 0px #29728b40;
}
.location-img-shadow {
  height: 520px;
  width: 390px;
  border-radius: 50px;
  object-fit: cover;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 2;
}
.location-img-shadow:hover {
  opacity: 0.3;
}
.location-4img p {
  z-index: 2;
}
.background3 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 1180px;
}
.head-line-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  width: 100%;
  height: 100px;
}
.head-line-text2 h1 {
  font-size: 50px;
}
.head-line-text2 h3 {
  font-size: 25px;
}
.roudmap-div {
  display: flex;
  justify-content: space-between;
  width: 1880px;
  height: 740px;
  margin-top: 80px;
}
.roudmap-div1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 740px;
}
.roudmap-div2 {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 740px;
}
.roudmap-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 700px;
  border-radius: 100px;
  opacity: 0.8;
  border: solid 5px transparent;
}
.roudmap-button:hover {
  border: solid 5px white;
}
.back-color1 {
  background-color: #eee9d9;
}
.back-color2 {
  background-color: #8bb8c1cc;
}
.back-color3 {
  background-color: #aad8d7cc;
}
.back-color4 {
  background-color: #8bc0bdcc;
}
.back-color5 {
  background-color: #97cce0cc;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 80px;
}
.text-container p {
  height: 40px;
  font-size: 45px;
}
.text-container h4 {
  height: 20px;
  font-size: 20px;
}
.img-h4 {
  display: flex;
  gap: 20px;
}
.pin-icon {
  height: 20px;
  width: 20px;
}
.day {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  border: none;
  background-color: #f7f6f3;
  font-size: 20px;
}
.purple-pin1 {
  margin-top: 70px;
  margin-left: 400px;
  width: 40px;
  height: 40px;
}
.purple-pin2 {
  margin-top: 70px;
  margin-left: 90px;
  width: 40px;
  height: 40px;
}
.purple-pin3 {
  margin-top: 0px;
  margin-left: 760px;
  width: 40px;
  height: 40px;
}
.purple-pin4 {
  margin-left: 130px;
  width: 40px;
  height: 40px;
}
.map1 {
  position: absolute;
  z-index: -1;
  height: 310px;
  width: 310px;
  margin-top: 350px;
  margin-left: 2580px;
  display: none;
}
.map2 {
  position: absolute;
  z-index: -1;
  height: 310px;
  width: 310px;
  margin-top: -190px;
  margin-left: 1900px;
  display: none;
}
.map3 {
  position: absolute;
  z-index: -1;
  height: 310px;
  width: 310px;
  margin-top: -100px;
  margin-left: 1450px;
  display: none;
}
.map4 {
  position: absolute;
  z-index: -1;
  height: 310px;
  width: 310px;
  margin-top: -515px;
  margin-left: 1355px;
  display: none;
}
.map5 {
  position: absolute;
  z-index: -1;
  height: 310px;
  width: 310px;
  margin-top: -1390px;
  margin-left: 1280px;
  display: none;
}
.back-color1:hover .map1 {
  display: flex;
}
.back-color2:hover .map2 {
  display: flex;
}
.back-color3:hover .map3 {
  display: flex;
}
.back-color4:hover .map4 {
  display: flex;
}
.back-color5:hover .map5 {
  display: flex;
}
.background4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1260px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100px;
  width: 100%;
}
.footer-text h1 {
  font-size: 50px;
}
.footer-text h2 {
  font-size: 30px;
}
.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}
.footer-3div {
  border-radius: 50px;
  width: 550px;
  height: 700px;
  background-color: white;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.div3-1 {
  display: flex;
  align-items: end;
  width: 500px;
  height: 80px;
  gap: 20px;
}
.heart {
  width: 40px;
  height: 40px;
}
.div3-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 620px;
}
.dollar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  height: 400px;
}
.dollar h1 {
  font-size: 50px;
}
.dollar h2 {
  color: gray;
}
.dollar h3 {
  margin-left: 60px;
}
.dollar h4 {
  font-size: 20px;
}
.dollar p {
  height: 30px;
}
.correct {
  display: flex;
  gap: 30px;
}
.correct img {
  width: 30px;
  height: 30px;
}
.Select {
  width: 450px;
  height: 50px;
  background-color: #a4d1e2;
  margin-bottom: 40px;
  border-radius: 100px;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.Balanced {
  display: flex;
  gap: 150px;
}
.popular-button {
  background-color: #6972b5;
  height: 35px;
  width: 130px;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
}
.footer-3div:hover {
  box-shadow: 10px 10px 0px 0px #2c5e7f75, -10px -10px 0px 0px #3d414475;
}
.footer-3div:hover .Select {
  background-color: #000;
  color: white;
}
.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 300px;
}
.button-end {
  display: flex;
  gap: 20px;
  height: 50px;
  width: 500px;
}
.button-end button {
  display: flex;
  align-items: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: #6972b5;
  width: 200px;
  justify-content: space-around;
}
.button-end h1 {
  margin-right: 30px;
}
.button-end img {
  height: 40px;
  width: 40px;
}
.no {
  width: 200px;
  height: 20px;
}
